<!DOCTYPE html>

<html>
    <head>
        <title>
            CareersAvailables
        </title>
    </head>

    <body class="page">
        <div class="container">

            <div class="points">
                <h2> Carreras disponibles: </h2>

                    <ul>
                        <% @careers.each do |career| %>
                            <li class="info">
                                <% if career.name == 'Computación' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig2.php?n=QiZi9hLT57Fip/rkJOHhJZaaCYsBAPETixEYkBrhlAI="> Computación </A>
                                <% elsif career.name == 'Economía' %>
                                    <A HREF="https://www.eco.unrc.edu.ar/seccion/grado/plan-estudios-le/"> Economía </A>
                                <% elsif career.name == 'Educación física' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig5.php?n=EnmIjqbc0Uta5lIlTsxBKRbylQg2dQAA3XYHBM6chLE%3D"> Educación física </A>
                                <% elsif career.name == 'Filosofía' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig5.php?n=jJ3xRJeQsn2Iok1HQpVZHRiddh1Ede0JgFuD1shHXRc%3D"> Filosofía </A>
                                <% elsif career.name == 'Física' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig2.php?n=tQPxQVYkZmwPj2Sl%2BtQyhVuUVwBge%2Fjjs%2F5a3WgGbeQ%3D"> Física </A>
                                <% elsif career.name == 'Geología' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig2.php?n=pRWKdi%2Fd%2FJl4mRrgaWAxd2A96dUddFPYakaXqOo0PYU%3D"> Geología </A>
                                <% elsif career.name == 'Historia' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig5.php?n=rV8U7R3EWnVoZI79l5WWgcNKLdq3hYSQuzMdkxUSlWE%3D"> Historia </A>
                                <% elsif career.name == 'Literaruta' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig5.php?n=%2FBpLfBDYxXmQaxDePIM%2Bvqvf5cLyAysalAWtwPjvud4%3D"> Literaruta </A>
                                <% elsif career.name == 'Matemáticas' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig2.php?n=UC55Mug%2BT2YolRq1o%2F1ssRc3ocBCtzvFfjJku4bkUVE%3D"> Matemáticas </A>
                                <% elsif career.name == 'Periodismo' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig5.php?n=nm%2BbeKeSWYL8zSYqQxDEk7H7SUVig99bhQOHGJSkTMU%3D"> Periodismo </A>
                                <% elsif career.name == 'Química' %>
                                    <A HREF="https://www.unrc.edu.ar/unrc/carreras/ProgAsig2.php?n=jHkVW45CPW5kIWNIkiemrHnaI9ydncBO36GTxfGawAU%3D"> Química </A>
                                <% elsif career.name == 'Agronomia' %>
                                    <A HREF="http://www.ayv.unrc.edu.ar/index.php/es/carreras/carreras-de-grado/ingeniaria-agronomica"> Agronomia </A>
                                <% elsif career.name == 'Veterinaria' %>
                                    <A HREF="http://www.ayv.unrc.edu.ar/index.php/es/carreras/carreras-de-grado/medicina-veterinaria"> Veterinaria </A>
                                <% else %>
                                    <%= career.name %>    
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
            </div>
        </div>
        <button onclick="HomeTest()">
            Volver a la pagina principal    
        </button>
    </body>
</html>

<script >
function HomeTest(){
   window.location.href='/';
}
</script>


<style>

li {
    margin: 1rem 0;
}

.page {
background-color: #bdc3c7;

font-family: arial;

color: #ecf0f1;

display: flex;
flex-direction: column;
justify-content: center;

}
.info {
        margin: 1rem;
        padding: 1rem;
        border-radius: 10px;

        background-color: #ecf0f1;

        font-weight: lighter;
        font-size: 16px;
        color: #34495e ;
        text-align: start;
}

button {
        padding: 0.5rem;
        margin: auto;

        border-radius: 10px;

        background-color: #f39c12;

        border: 1px solid #e67e22;

        color: #2c3e50;

        cursor: pointer;

        font-weight: bold;

        width: 15rem;
        height: 3rem;
        cursor: pointer
}
.points {
        width: 60%;
        margin: auto;
        padding: 1rem;

        color: #2c3e50;
        text-align: center;
        font-size: 1rem;
    }
 .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }



</style>