<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VOCATIONAL-TEST</title>
  </head>
  <body>
      <div class="login-box">
        <div class = "lineOne"></div>
        <h1>
          <p style="font-family:courier,arial,helvética;">
            Bienvenido a |VOCATIONAL-TEST|
          </p>
        </h1>
        <div class = "lineTwo"></div>
        <form>
          <label for="username" id="etiqueta1">Username:</label>
          <input  id ="nombreUsuario" placeholder="Ingrese un nombre">
          <input type="button" value="Realizar Test" onclick="redirection()">
        </form>
          <p>Click <a href="/careers_available">aqui</a>, para ver las carreras disponibles.</p>
    </div>
  </body>
</html>

<script>
  const getValueInput = () =>{
    return document.getElementById("nombreUsuario").value;
  }
function redirection(){
  let valorParam = getValueInput();
  if (valorParam == ""){
        alert("Por favor, ingrese su nombre")
        window.location.href='/' ;
  }else{
  window.location.href='/make_survey?username=' + valorParam  ;
  }
}

</script>

<style >
body {
  margin: 0;
  padding: 0;
  background:  #2c3e50;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}


.login-box {
  width: 320px;
  height: 420px;
  background: #fff;
  color: #2c3e50;
  top: 50%;
  left: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
}

.lineOne{
  position: relative;
  bottom: -20px;
  border: 1px solid #2c3e50;
}
.lineTwo{
  position: relative;
  bottom: 30px;
  border: 1px solid #2c3e50;
}
.login-box a{
  color: #2c3e50;
  font-weight: bold;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 25px;
}

.login-box label {
  margin: 0;
  padding: 0;
  color: #2c3e50;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="button"] {
  border: none;
  outline: none;
  width: 100%;

  height: 40px;
  background: #2c3e50 ;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="button"]:hover{
  cursor: pointer;
  background: silver ;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

#nombreUsuario {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 1rem 1rem 1rem 0;
  width: 90%;
}
</style>